<!-- The 'Home' page -->

{% extends "layout.html" %}

{% block head %}
    <!-- Inherit from 'layout.html' -->
    {{ super() }}
    <!-- Typed.js -->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <!-- Particles.js -->
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <!-- JS -->
    <script src="../static/js/particles.js" defer></script>
    <script src="../static/js/typingEffect.js"></script>
{% endblock %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <!-- Particles Background -->
    <div id="particles-js" class="background position-fixed w-100 h-100 top-0 start-0"></div>
    <!-- End of Particles Background -->
    <!-- Main Content -->
    <div class="container description mb-5 pb-5">
        <!-- Row -->
        <div class="row align-items-center justify-content-center">
            <!-- 1st Column -->
            <div class="col-md-6 order-0 order-md-0 order-1 order-sm-0 text-center text-md-start mb-3 mb-md-0 pb-3">
                <div class="description-box">
                    <h2 class="main-text">Hello! <br> I'm <span class="name">Jack Chen</span></h2>
                    <p class="secondary-text">I am a <span id="typing-text"></span></p>
                    <div class="d-flex justify-content-center justify-content-sm-start">
                        <button class="btn d-flex align-items-center justify-content-center" type="button">
                            <a href="{{ url_for('about') }}">READ MORE <i class="bx bx-right-arrow-circle px-2"></i></a>
                        </button>
                    </div>
                </div>
            </div>
            <!-- End of 1st Column -->
            <!-- 2nd Column -->
            <div class="col-md-6 order-1 order-md-1 order-0 order-sm-1 text-center text-md-end">
                <div class="card-design description-image d-flex justify-content-center align-items-center overflow-hidden">
                    <img class="img-fluid w-75 h-75 object-fit-contain" src="../static/images/main_picture.png">
                </div>
            </div>
            <!-- End of 2nd Column -->
        </div>
        <!-- End of Row -->
    </div>
    <!-- End of Main Content -->
{% endblock %}
